.left{float:left;}
.right{float:right;}
.both{clear:both;}
.center{text-align:center;}

.home{width:100%;
	.home-left{float:left; width:37%; background-image:url('../img/home/bg-izquierdo.jpg'); background-repeat:no-repeat; background-size:cover; height:840px;
			/*padding:18% 10% 0 10%;*/ margin-top: -2px;
		.inner{ text-align: center; margin-top: 40%;	
				h1{ margin:50px auto; font-size:15px; font-weight:normal; letter-spacing:1px; width:70%; font-family: 'quincy_cfregular';}
			}
			.desc{width:60%; margin: 10% auto;
				.left{border-right:1px solid $main-dark; width:35%;
					img{display:block; &:nth-of-type(1){margin-bottom:66%;}}
				}
				
				.right{ width:60%;
					p{margin:0; width:90%; padding-left:10%; line-height:24px; letter-spacing:1px; font-size:16px; font-family: 'quincy_cfregular';}
					
				}
			}
	}
	
	.home-right{float:right; width:63%; background-image:url('../img/home/bg-derecho.jpg');  background-repeat:no-repeat; background-size:cover; height:840px; 
				margin-top: -2px; text-align:center;
				h2{font-size:64px; letter-spacing:10px; color:$white; line-height:90px; margin-top:250px; font-family: 'quincy_cfregular'; text-transform:uppercase;}
				h4{font-size:15px; letter-spacing:1px; color:$white; line-height:35px; width:80%; margin:0 auto; font-family: 'quincy_cfregular';}
				img{display:inline-block; margin-top:40px;}
	}
}


.historia-content{
	.banner{display:block; margin-top: -2px; width:100%;}
	.content{background-color:$main-beige; padding:4% 2% 1% 2%;
		h1{font-family: 'quincy_cfregular'; text-align:center; font-size:53px; margin-top:0; margin-bottom:10px; font-weight:normal; letter-spacing:5px;}
		.zig{display:block; margin:0 auto;}
		
		p.left, p.right{width:45%; font-family: 'quincy_cfregular'; font-size:15px;} 
		
		.logotipo{display:block; margin:20px auto 0px auto; padding-top:40px; clear:both;}
	}
}


.empresa{
	.left{margin-top: -2px; width:50%; background-image:url('../img/empresa/left-img.jpg'); height:100%; background-repeat:no-repeat; background-size:cover; 
	height:840px;
		/*.left-img{display:block;}*/
		}
		
	.right{margin-top: -2px; width:50%; background-color:$main-beige; padding:8.6% 0 0 0; text-align:center; height:716px;
		h1{font-family:'quincy_cfregular'; font-size:53px; margin-top:0; margin-bottom:10px; font-weight:normal; letter-spacing:5px;}
		h5{font-family:'quincy_cfregular'; font-size:15px; font-weight:normal; width:50%; margin:50px auto; border-top:1px solid #000; border-bottom:1px solid #000; padding:10% 0; line-height:30px;}
		
		p{width:75%; font-family:'quincy_cfregular'; font-size:15px; font-weight:normal; margin:20px auto; line-height:30px;}
		.logotipo{display:inline-block;}
	}	
}


.catalogo{
	.banner{margin-top: -2px; display:block;}
	.main-cont{background-color:$main-beige; padding:2%;}
	
	.left{width:21%}
	.right{width:75%;}
	
}