footer{width:100%; background-image:url('../img/footer/footer-bg.jpg'); background-repeat:no-repeat; background-size:cover;
	p{margin:0; text-align:center; color:$main-gold; padding:5px 0; font-size:15px; font-family: 'quincy_cflight';	}
	
}
